.badge {
    display: inline-block;
    border: 0;
    border-radius: 0;
    color: #fff;
    padding: 6px 3px 4px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}