$white:                         #fff;
$black:                         #000;

$main-color:                    #ff2a69;
$sub-color:                     #8a52ad;
$link-color:                    #666;
$font-color-base:               #111;   

//sidebar
$sidebar-color:                 #fafafa;
$hover-color:                   #eee;
// footer
$footer-color:                  #fcfcfc;
$copy-color:                    #999;