$font-family-base:             'Noto Sans KR', sans-serif;
$font-size-small:              12px;
$font-size-base:               14px;
$font-size-medium:             16px;
$font-size-large:              18px !default;
$font-size-h2:                 36px !default;
$font-size-h3:                 32px !default;

$font-weight-light:            300 !default; 
$font-weight-normal:           400 !default;
$font-weight-semi:             500 !default;
$font-weight-bold:             600 !default;