body {
    width: 100%;
    color: $font-color-base;
    font: {
        size: $font-size-base;
        family: $font-family-base;
    }   
}
.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

//slide
.swiper-button-next, .swiper-container-rtl .swiper-button-prev { right: -50px; }
.swiper-button-prev, .swiper-container-rtl .swiper-button-next { left: -50px; }
.swiper-button-next, .swiper-button-prev { 
    top: 43%;
    color: $gray300;
    outline: none;
}
.swiper-container{
    width: $section-min-width;
    max-width: 100%;
}

/* header  */
.header{
    width: 100%;
    min-width: $site-min-width;
    height: 64px;    
    border-bottom: $border-style;
    background-color: $white;

    .logo{
        float: left;
        width: 240px;
        height: 100%;
        padding: 24px 0 0 95px;  
        color: $font-color-base;           
        font: {
            size: $font-size-base;
            family: $font-family-base;
            weight: $font-weight-normal;
        }  
        @include logo();
    }
    .search-area{
        position: relative;
        float: left;
        padding: 15px 42px 14px;
        .inner_search {
            position: relative;
            z-index: 10;    
            width: 480px;
            height: 32px;
            padding: 0 $space-width-small;
            border: $border-style;
        }
        .search-input {
            float: left;
            width: 100%;
            border: 1px solid transparent;            
            line-height: 30px;
            background-color: transparent;
            outline: 0;    
            -webkit-appearance: none;
        }
        .btn{
            background-color:transparent;            
            color: $black; 
            border: none;
            cursor: pointer;
          }
          .btn-search {
              position: absolute;
              top: 0;
              right: 0;
              width: 49px;
              height: $space-width-small * 2;
              margin: 1px;
          }
          .btn-search i{
              font-size: $font-size-medium;
              color: $font-color-base;
          }
    }
    .nav{
        float: right; 
        text-align: right;
        padding: 20px 32px 10px; 

        .nav-menu >li{
            float: left;
            padding-left: $space-width-base / 2;
        }
        .nav-menu >li i {
            width: $space-width-small *2;
            height: $space-width-small *2;
            font-size: 24px; 
        }
        .nav-menu >li i.img-circle{ 
            @include img-circle(-4px, null)
        }
        .nav-menu >li a:hover i{
            color: $font-color-base;
        }
    }
}


// footer
.footer {
    position: relative;    
    width: 100%;
    min-width: $site-min-width;
    height: 130px;
    margin-top: $space-width-base * 3;
    padding-top: $space-width-base;
    background-color: $footer-color;

    a {
        color:$font-color-base;
     }
    .footer-nav,.footer-nav li, .social-item, .social-item li{
        float: left;
    }
    .footer-nav {
        width: 60%;
        border-right: $border-style;
        font-size: $font-size-base;

        ul::after{
            @include clear();
        }

        li { padding-left: $space-width-base; }
    }
    .copyright{
        padding: 11px 0 0 $space-width-base;
        font-size: $font-size-small;
        color: $gray300;
    }
    .social-item li{
        padding-top: 6px;
        padding-left: $space-width-base / 2;
    }
    .social-item i{ font-size: 24px; }
}

// sidebar 
.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    display: block;
    z-index: 1;
    color: $font-color-base;
    background-color: $sidebar-color; 
    
    li{
        position: relative;
        height: $space-width-base;
        line-height: $space-width-base;
        padding-left:26px;
        a{
            color: $font-color-base;
            font-size: $font-size-base;
        }
        i{
            font-size:$font-size-medium;
            margin-right: $space-width-small;
        }
        &:hover{
            background-color: $gray100
        }
        &.active{
            background-color: #ffe3e8;
        }
        &.active i, &.active a{
            color: $main-color;
        }
        &.my-channel{
            border-top: $border-style;
            margin: $space-width-small 0 24px;
            padding-top: $space-width-small;
            &:hover{
                background-color: transparent; 
            }
        }
    }
    .nav{
        overflow: hidden;
        width: 100%;   
        padding-top: $space-width-small;
    }
    .nav-mychannel li{ 
        padding-left: 30px;   
        i.img-circle {
            @include img-circle(7px, 24px);
        }
        &.more-channel{
            background-color: transparent;
            a {
                color: $link-color;
                padding-left: 6px;
            }
        }
        
        .ic-new-circle{
            @include ic-new-circle();
            position: absolute;
            top: 20px;
            right: $space-width-small;
        }
    } 
}

#menu_toggle{
    position: fixed;
    bottom: 50px;
    left: 20px;    
    display: block; 
    cursor: pointer;
    i { 
        font-size: 18px; 
    }
}

.sidebar-sm{
    .content{ 
        width: calc(#{100%} - #{$sidebar-sm-width});        
    }
    .sidebar { 
        width: $sidebar-sm-width;
        .nav em,.nav-mychannel em, .nav-mychannel .more-channel{
            display: none;
        }
        .nav-mychannel li{ padding-left: 20px; }
    }
} 


/*
 searchbar animation
*/
.search-bar-ani{
    position: relative;
    .search {
        position: absolute;
        margin: auto;
        top: 0;
        right: 170px;
        bottom: 0;
        width: 40px;
        height: 40px;
        background: transparent;
        border-radius: 50%;
        transition: all 1s;
        z-index: 4;        
        &:hover {
          cursor: pointer;
        }
        &::before {
          content: "";
          position: absolute;
          margin: auto;
          top: 22px;
          right: 0;
          bottom: 0;
          left: 22px;
          width: 12px;
          height: 2px;
          background: #111;
          transform: rotate(45deg);
          transition: all .5s;
        }
        &::after {
          content: "";
          position: absolute;
          margin: auto;
          top: -5px;
          right: 0;
          bottom: 0;
          left: -5px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 2px solid #111;
          transition: all .5s;
        }
      }
      input {       
        position: absolute;
        margin: auto;
        top: 0;
        right: 170px;
        bottom: 0;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;        
        color: #111;       
        padding: 0 80px 0 20px;
        border-radius: 30px;        
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        letter-spacing: 0.1em;
        background-color: #ffe3e8;
        &:hover { cursor: pointer; }
        &:focus {
          width: 300px;
          opacity: 1;
          cursor: text;
        }
        &:focus ~ .search {
          right: 170px;
          background: transparent;
          z-index: 6;
          &::before {
            top: 0;
            left: 0;
            width: 25px;
          }
          &::after {
            top: 0;
            left: 0;
            width: 25px;
            height: 2px;
            border: none;
            background: #666;
            border-radius: 0%;
            transform: rotate(-45deg);
          }
        }
        &::placeholder {
          color: #111;
          opacity: 0.5;
          font-weight: normal;
        }
      }  

}