$white:                         #fff;
$black:                         #000;
$gray100:                       #eee;
$gray200:                       #aaa;
$gray300:                       #999;
$gray500:                       #333;

$link-color:                    #666;
$font-color-base:               #111;

$main-color:                    #ff2a69;
$sub-color:                     #8a52ad;   

//sidebar, footer
$sidebar-color:                 #fafafa;
$footer-color:                  #fcfcfc;



$font-family-base:             'Noto Sans KR', sans-serif;
$font-family-sub:              'Roboto','Noto Sans KR', sans-serif;
$font-size-small:              12px;
$font-size-base:               14px;
$font-size-medium:             16px;
$font-size-large:              18px;
$font-size-h2:                 36px;
$font-size-h3:                 32px;
$font-size-h4:                 24px;

$icon-size-base:               24px;
$icon-size-large:              45px;

$font-weight-light:            300; 
$font-weight-normal:           400;
$font-weight-semi:             500;
$font-weight-bold:             600;

$space-width-small:            16px;
$space-width-base:             40px;

$border-style:                 1px solid #dcdcdc;

$site-min-width:               1060px;
$section-min-width:            1500px;
$sidebar-width:                240px;
$sidebar-sm-width:             60px;
$header-height:                64px;